<!-- HTML Template -->
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="username">Email address</label>
    <input type="input" class="form-control" id="username" value="tc_989uw" placeholder="Your William Hill account email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password" >Password</label>
    <input type="password" class="form-control" id="password" value="86989688" placeholder="William Hill account password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" id="login" class="submitButton btn btn-default">Sign in</button>
</form>